@font-face {
  font-family: "FG Regular";
  src: url("../../../fonts/FG_Regular.otf");
}
@font-face {
  font-family: "FG Semibold";
  src: url("../../../fonts/FG_Semibold.otf");
}
@font-face {
  font-family: "FG Bold";
  src: url("../../../fonts/FG_Bold.otf");
}
.desktop_nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 400;
}
.desktop_nav .desktop_nav_inner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-right: 30px;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1480px;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_inner_side {
  height: 100px;
  display: flex;
  align-items: center;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L {
  justify-content: flex-start;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L .desktop_nav_inner_side_cnt .logo a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: rgb(240, 240, 240);
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L .desktop_nav_inner_side_cnt .logo a .icon {
  font-size: 32px;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L .desktop_nav_inner_side_cnt .logo a span {
  font-size: 28px;
  margin-left: 10px;
  position: relative;
  top: -4px;
  font-family: "FG Bold";
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R {
  justify-content: flex-end;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt {
  max-width: 380px;
  width: 100%;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "FG Semibold";
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt ul li a {
  text-decoration: none;
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: rgb(240, 240, 240);
}

.mobile_nav {
  position: absolute;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  z-index: 400;
  display: none;
  justify-content: center;
  align-items: center;
}
.mobile_nav .mobile_nav_inner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
.mobile_nav .mobile_nav_inner .logo a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: rgb(240, 240, 240);
}
.mobile_nav .mobile_nav_inner .logo a .icon {
  font-size: 32px;
}
.mobile_nav .mobile_nav_inner .logo a span {
  font-size: 28px;
  margin-left: 10px;
  position: relative;
  top: -4px;
  font-family: "FG Bold";
}
.mobile_nav .mobile_nav_inner button {
  width: 40px;
  height: 40px;
  background-color: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-right: 0;
  margin-top: 0px;
}
.mobile_nav .mobile_nav_inner button span {
  height: 4px;
  width: 31px;
  background-color: white;
  display: block;
  border-radius: 5px;
}
.mobile_nav .mobile_nav_inner button span:nth-child(even) {
  margin-top: 7px;
  margin-bottom: 7px;
}

.mobile_nav_menu .darken {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
.mobile_nav_menu .mobile_nav_menu_main {
  max-width: 600px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 600;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt {
  opacity: 0;
  visibility: hidden;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt button {
  width: 45px;
  height: 45px;
  border: 2px solid #f08a5d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 23px;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt button:hover {
  background-color: #f08a5d;
  color: white;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul {
  padding: 0;
  font-family: "FG Semibold";
  font-size: 32px;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul li {
  height: 55px;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul li a {
  text-decoration: none;
  color: black;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul li a:hover {
  color: #f38181;
}

@media all and (max-width: 991px) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: flex;
  }
}
@media (min-width: 992px) {
  .desktop_nav {
    display: block !important;
  }
  .mobile_nav,
  .mobile_nav_menu {
    display: none !important;
  }
}
@media all and (max-width: 768px) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    padding-bottom: 15px;
  }
  .mobile_nav .mobile_nav_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_cnt {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile_nav .mobile_nav_inner .logo .icon {
    display: none;
  }
  .mobile_nav .mobile_nav_inner .logo span {
    font-size: 14px;
  }
  .mobile_nav .mobile_nav_inner button {
    margin-top: 0;
    margin-right: 0;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt button {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul li {
    height: 45px;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul li a {
    font-size: 23px;
  }
}
@media all and (max-width: 419px) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    padding-bottom: 15px;
  }
  .mobile_nav .mobile_nav_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile_nav .mobile_nav_inner .logo .icon {
    display: none;
  }
  .mobile_nav .mobile_nav_inner .logo span {
    font-size: 14px;
  }
  .mobile_nav .mobile_nav_inner button {
    margin-top: 0;
    margin-right: 0;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt button {
    width: 36px;
    height: 36px;
    font-size: 16px;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul li {
    height: 45px;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul li a {
    font-size: 21px;
  }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    max-width: 100%;
  }
  .mobile_nav .mobile_nav_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_cnt {
    padding-left: 0px;
    padding-right: 0px;
  }
  .mobile_nav .mobile_nav_inner button {
    margin-top: 0;
    margin-right: 0;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt button {
    width: 36px;
    height: 36px;
    font-size: 16px;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul li {
    height: 35px;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul li a {
    font-size: 21px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    max-width: 100%;
  }
  .mobile_nav .mobile_nav_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .mobile_nav .mobile_nav_inner button {
    margin-top: 0;
    margin-right: 0;
  }
  .mobile_nav_menu .mobile_nav_menu_main {
    max-width: 500px;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt button {
    width: 41px;
    height: 41px;
    font-size: 21px;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul li {
    height: 45px;
  }
  .mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt ul li a {
    font-size: 25px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
    max-width: 100%;
  }
  .mobile_nav .mobile_nav_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding-top: 0px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .mobile_nav .mobile_nav_inner button {
    margin-top: 0;
    margin-right: 0;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .desktop_nav {
    display: block;
  }
  .mobile_nav {
    display: none;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .desktop_nav {
    display: block;
  }
  .mobile_nav {
    display: none;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .desktop_nav {
    display: block;
  }
  .mobile_nav {
    display: none;
  }
}/*# sourceMappingURL=Nav.module.css.map */