@font-face {
  font-family: "Noto Sans Extra Bold";
  src: url("../../../fonts/NotoSans-ExtraBold.ttf"), Helvetica;
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url("../../../fonts/NotoSans-Bold.ttf"), Helvetica;
}
@font-face {
  font-family: "Noto Sans Medium";
  src: url("../../../fonts/NotoSans-Medium.ttf"), Helvetica;
}
@font-face {
  font-family: "Noto Sans Regular";
  src: url("../../../fonts/NotoSans-Regular.ttf"), Helvetica;
}
.desktop_nav {
  background-color: #0f3051;
}
.desktop_nav .desktop_nav_inner {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_inner_side {
  height: 150px;
  display: flex;
  align-items: center;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L {
  justify-content: flex-start;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_L .desktop_nav_inner_side_cnt .logo img {
  max-width: 180px;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R {
  justify-content: flex-end;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt .links {
  width: 100%;
  max-width: 400px;
  font-family: "Noto Sans Bold";
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt .links li span {
  color: white;
  cursor: pointer;
  position: relative;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt .links li span span {
  width: 0;
  height: 2px;
  background-color: white;
  display: block;
  position: relative;
  top: 2px;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt .links li span:hover span {
  width: 100%;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt .socials li:last-child {
  margin-left: 12px;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt .socials li a {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #0f3051;
  border-radius: 5px;
}
.desktop_nav .desktop_nav_inner .desktop_nav_inner_box .desktop_nav_inner_row .desktop_nav_R .desktop_nav_inner_side_cnt .socials li a:hover {
  background-color: #19548f;
  color: white;
}

.mobile_nav {
  background-color: #0f3051;
}
.mobile_nav .mobile_nav_inner {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_inner_side {
  height: 140px;
  display: flex;
  align-items: center;
  max-width: 50%;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_L {
  justify-content: flex-start;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_L .mobile_nav_inner_side_cnt .logo img {
  max-width: 140px;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R {
  justify-content: flex-end;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt .socials li:last-child {
  margin-left: 12px;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt .socials li a {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #0f3051;
  border-radius: 5px;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt .socials li a:hover {
  background-color: #19548f;
  color: white;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt button {
  width: 40px;
  height: 40px;
  display: block;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt button span {
  height: 4px;
  width: 30px;
  display: block;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt button span:nth-child(even) {
  margin-top: 7px;
  margin-bottom: 7px;
}

.mobile_nav_menu .darken {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(4, 18, 48, 0.83);
  cursor: pointer;
}
.mobile_nav_menu .mobile_nav_menu_main {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  max-width: 400px;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt .mobile_nav_menu_main_cnt_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt .mobile_nav_menu_main_cnt_top img {
  max-width: 140px;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt .mobile_nav_menu_main_cnt_top button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #0f3051;
  color: white;
  font-size: 20px;
}
.mobile_nav_menu .mobile_nav_menu_main .mobile_nav_menu_main_cnt .mobile_nav_menu_main_cnt_top button:hover {
  background-color: #19548f;
}

@media all and (max-width: 991px) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
}
@media (min-width: 992px) {
  .mobile_nav {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
  .mobile_nav .mobile_nav_inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_inner_side {
    height: 90px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_L .mobile_nav_inner_side_cnt .logo img {
    max-width: 120px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt .socials li a {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt button span {
    border-radius: 5px;
  }
}
@media all and (max-width: 419px) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
  .mobile_nav .mobile_nav_inner {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_inner_side {
    height: 70px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_L .mobile_nav_inner_side_cnt .logo img {
    max-width: 90px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt .socials {
    margin-right: 10px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt .socials li a {
    width: 25px;
    height: 25px;
    font-size: 11px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt button {
    width: 35px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt button span {
    border-radius: 5px;
    height: 3px;
    width: 28px;
  }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
  .mobile_nav .mobile_nav_inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_inner_side {
    height: 80px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_L .mobile_nav_inner_side_cnt .logo img {
    max-width: 110px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt .socials {
    margin-right: 10px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt .socials li a {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt button {
    width: 45px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt button span {
    border-radius: 5px;
    height: 3px;
    width: 30px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
  .mobile_nav .mobile_nav_inner {
    padding-left: 35px;
    padding-right: 35px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_inner_side {
    height: 110px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_L .mobile_nav_inner_side_cnt .logo img {
    max-width: 150px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt .socials {
    margin-right: 15px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt .socials li a {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt button {
    width: 45px;
  }
  .mobile_nav .mobile_nav_inner .mobile_nav_inner_box .mobile_nav_inner_row .mobile_nav_R .mobile_nav_inner_side_cnt button span {
    border-radius: 5px;
    height: 3px;
    width: 30px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .desktop_nav {
    display: block;
  }
  .mobile_nav,
  .mobile_nav_menu {
    display: none;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .desktop_nav {
    display: block;
  }
  .mobile_nav,
  .mobile_nav_menu {
    display: none;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .desktop_nav {
    display: block;
  }
  .mobile_nav,
  .mobile_nav_menu {
    display: none;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .desktop_nav {
    display: block;
  }
  .mobile_nav,
  .mobile_nav_menu {
    display: none;
  }
}/*# sourceMappingURL=Nav.module.css.map */