// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "Noto Sans Extra Bold";
  src: url("../../../fonts/NotoSans-ExtraBold.ttf"), Helvetica;
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url("../../../fonts/NotoSans-Bold.ttf"), Helvetica;
}
@font-face {
  font-family: "Noto Sans Medium";
  src: url("../../../fonts/NotoSans-Medium.ttf"), Helvetica;
}
@font-face {
  font-family: "Noto Sans Regular";
  src: url("../../../fonts/NotoSans-Regular.ttf"), Helvetica;
}

// Desktop
.loading_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include displayElement(flex, center, center);
  background-color: white;
  z-index: 700;

  .loading_screen_cnt {
    .loader {
      width: 48px;
      height: 48px;
      border: 5px solid rgb(226, 226, 226);
      border-bottom-color: $BlueZodiac;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.submission_success_message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
  height: 180px;
  @include displayElement(none, center, center);
  overflow: hidden;
  white-space: pre-wrap;
  background-color: rgb(244, 244, 244);
  opacity: 0;
  visibility: hidden;
  z-index: 600;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.218);

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.7;
    width: 25px;
    height: 25px;
    @include displayElement(flex, center, center);
    font-size: clamp(16px, 16px, 16px);
  }

  .submission_success_message_cnt {
    display: block;
    text-align: center;

    .icon {
      color: green;
      font-size: clamp(19px, 20px, 20px);
      margin-bottom: 15px;
    }

    span {
      font-family: "Noto Sans Regular";
      font-size: clamp(17px, 18px, 18px);
      display: block;
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
  .submission_success_message {
    max-width: 400px;
    height: 150px;

    .submission_success_message_cnt {
      span {
        font-size: clamp(14px, 15px, 15px);
      }
    }
  }
}

@media all and (max-width: 991px) {
  .submission_success_message {
    max-width: 400px;
    height: 150px;

    .submission_success_message_cnt {
      span {
        font-size: clamp(14px, 15px, 15px);
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .submission_success_message {
    max-width: 300px;
    height: 150px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(12px, 13px, 13px);
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .submission_success_message {
    max-width: 95%;
    height: 130px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(12px, 13px, 13px);
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .submission_success_message {
    max-width: 350px;
    height: 120px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(12px, 13px, 13px);
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .submission_success_message {
    max-width: 390px;
    height: 150px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(14px, 15px, 15px);
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .submission_success_message {
    max-width: 390px;
    height: 150px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(13px, 14px, 14px);
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .submission_success_message {
    max-width: 420px;
    height: 170px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(15px, 16px, 16px);
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .submission_success_message {
    max-width: 420px;
    height: 170px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(15px, 16px, 16px);
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .submission_success_message {
    max-width: 420px;
    height: 170px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(15px, 16px, 16px);
      }
    }
  }
}
