// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "FG Regular";
  src: url("../../../fonts/FG_Regular.otf");
}
@font-face {
  font-family: "FG Semibold";
  src: url("../../../fonts/FG_Semibold.otf");
}
@font-face {
  font-family: "FG Bold";
  src: url("../../../fonts/FG_Bold.otf");
}

// Desktop
.footer_holder {
  position: relative;

  .l_big {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: absolute;
    bottom: 120px;
    overflow: hidden;
    left: -210px;
    z-index: 100;
  }
  .l_small_1 {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    left: 330px;
    top: -120px;

    .bg {
      @include bGSU(cover, center);
    }
  }
  .l_small_2 {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    left: 200px;
    top: -240px;

    .bg {
      @include bGSU(cover, center);
    }
  }

  .m_small_1 {
    width: 110px;
    height: 110px;
    position: absolute;
    border-radius: 10%;
    overflow: hidden;
    left: 35%;
    top: -30px;
    transform: rotate(35deg) translate(-35%);

    .bg {
      @include bGSU(cover, center);
    }
  }
  .m_small_2 {
    width: 170px;
    height: 170px;
    position: absolute;
    border-radius: 10%;
    overflow: hidden;
    left: 65%;
    top: -130px;
    transform: rotate(-25deg) translate(-65%);

    .bg {
      @include bGSU(cover, center);
    }
  }

  .r_big {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: absolute;
    bottom: 120px;
    overflow: hidden;
    right: -210px;
    z-index: 100;
    transform: rotate(-120deg);

    .bg {
      @include bGSU(cover, center);
    }
  }

  .r_small_1 {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    right: 350px;
    top: -120px;

    .bg {
      @include bGSU(cover, center);
    }
  }
  .r_small_2 {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    right: 210px;
    top: -220px;

    .bg {
      @include bGSU(cover, center);
    }
  }

  .footer {
    position: relative;
    height: 400px;
    z-index: 200;

    .bg {
      height: 400px !important;
      @include bGSU(cover, center);
    }

    .footer_inner {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding-left: 50px;
      padding-right: 50px;
      max-width: 1500px;
      @include displayElement(flex, center, center);

      .footer_inner_box {
        .footer_inner_row {
          .footer_inner_side {
            padding-top: 80px;
            height: 300px;
            display: flex;
          }

          .footer_L {
            justify-content: flex-start;

            .footer_inner_side_cnt {
              .logo {
                a {
                  @include displayElement(flex, flex-start, center);
                  text-decoration: none;
                  color: rgb(240, 240, 240);

                  .icon {
                    font-size: 42px;
                  }

                  span {
                    font-size: 48px;
                    margin-left: 10px;
                    position: relative;
                    top: -4px;
                    font-family: "FG Bold";
                  }
                }
              }
            }
          }

          .footer_M {
            justify-content: flex-end;
            text-align: right;

            .footer_inner_side_cnt {
              ul {
                font-family: "FG Semibold";

                li {
                  height: 35px;

                  a {
                    text-decoration: none;
                    font-size: 21px;
                    color: rgb(240, 240, 240);
                  }
                }
              }
            }
          }

          .footer_R {
            justify-content: flex-end;
            text-align: right;

            .footer_inner_side_cnt {
              display: block;

              .contact {
                font-family: "FG Semibold";
                font-size: $Link;
                color: white;
                margin-bottom: 30px;

                li {
                  cursor: default;
                }
              }

              .socials {
                @include displayElement(flex, space-between, center);
                max-width: 160px;
                @include quickCenter("relative");
                margin-right: 0;

                li {
                  div {
                    cursor: pointer;
                    font-size: $Text;
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
  .footer_holder {
    margin-top: 400px;

    .l_big,
    .r_big {
      width: 460px;
      height: 460px;
    }

    .l_small_1 {
      left: 250px;
    }
    .l_small_2 {
      left: 90px;
    }

    .m_small_1 {
      width: 90px;
      height: 90px;
    }
    .m_small_2 {
      width: 130px;
      height: 130px;
      top: -80px;
    }

    .r_small_1 {
      right: 250px;
    }
    .r_small_2 {
      right: 90px;
    }
  }
}

@media all and (max-width: 991px) {
  .footer_holder {
    margin-top: 140px;

    .l_big,
    .r_big,
    .l_small_1,
    .l_small_2,
    .r_small_1,
    .r_small_2,
    .m_small_1,
    .m_small_2 {
      display: none;
    }

    .footer {
      height: 100%;

      .bg {
        height: 600px !important;
      }

      .footer_inner {
        .footer_inner_box {
          .footer_inner_row {
            .footer_inner_side {
              padding-top: 40px;
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              text-align: center;
            }

            .footer_R {
              .footer_inner_side_cnt {
                .socials {
                  @include quickCenter("relative");
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .footer_holder {
    margin-top: 80px;

    .l_big,
    .r_big,
    .l_small_1,
    .l_small_2,
    .r_small_1,
    .r_small_2,
    .m_small_1,
    .m_small_2 {
      display: none;
    }

    .footer {
      height: 100%;

      .bg {
        height: 550px !important;
      }

      .footer_inner {
        .footer_inner_box {
          .footer_inner_row {
            .footer_inner_side {
              padding-top: 40px;
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              text-align: center;
            }

            .footer_L {
              .footer_inner_side_cnt {
                .logo {
                  a {
                    .icon,
                    span {
                      font-size: 30px;
                    }
                  }
                }
              }
            }

            .footer_M {
              .footer_inner_side_cnt {
                ul {
                  li {
                    a {
                      font-size: 19px;
                    }
                  }
                }
              }
            }

            .footer_R {
              .footer_inner_side_cnt {
                .socials {
                  @include quickCenter("relative");
                }
              }
            }
          }
        }
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .footer_holder {
    margin-top: 60px;

    .l_big,
    .r_big,
    .l_small_1,
    .l_small_2,
    .r_small_1,
    .r_small_2,
    .m_small_1,
    .m_small_2 {
      display: none;
    }

    .footer {
      height: 100%;

      .bg {
        height: 450px !important;
      }

      .footer_inner {
        .footer_inner_box {
          padding-bottom: 30px;
          .footer_inner_row {
            .footer_inner_side {
              padding-top: 30px;
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              text-align: center;
            }

            .footer_L {
              .footer_inner_side_cnt {
                .logo {
                  a {
                    .icon,
                    span {
                      font-size: 24px;
                    }
                  }
                }
              }
            }

            .footer_M {
              .footer_inner_side_cnt {
                ul {
                  li {
                    a {
                      font-size: 16px;
                    }
                  }
                }
              }
            }

            .footer_R {
              .footer_inner_side_cnt {
                .contact {
                  li {
                    font-size: 15px;
                  }
                }

                .socials {
                  @include quickCenter("relative");

                  li {
                    div {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .footer_holder {
    margin-top: 20px;

    .l_big,
    .r_big,
    .l_small_1,
    .l_small_2,
    .r_small_1,
    .r_small_2,
    .m_small_1,
    .m_small_2 {
      display: none;
    }

    .footer {
      height: 100%;

      .bg {
        height: 230px !important;
      }

      .footer_inner {
        padding-left: 20px;
        padding-right: 20px;

        .footer_inner_box {
          padding-bottom: 20px;
          .footer_inner_row {
            .footer_inner_side {
              padding-top: 30px;
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              text-align: center;
            }

            .footer_L {
              max-width: 30%;
              text-align: left;
              justify-content: flex-start;

              .footer_inner_side_cnt {
                .logo {
                  a {
                    .icon,
                    span {
                      font-size: 24px;
                    }
                  }
                }
              }
            }

            .footer_M {
              max-width: 30%;
              text-align: right;
              justify-content: flex-end;

              .footer_inner_side_cnt {
                ul {
                  li {
                    height: 30px;

                    a {
                      font-size: 16px;
                    }
                  }
                }
              }
            }

            .footer_R {
              max-width: 40%;
              text-align: right;
              justify-content: flex-end;

              .footer_inner_side_cnt {
                .contact {
                  li {
                    font-size: 15px;
                  }
                }

                .socials {
                  @include quickCenter("relative");

                  li {
                    div {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .footer_holder {
    margin-top: 50px;

    .l_big,
    .r_big,
    .l_small_1,
    .l_small_2,
    .r_small_1,
    .r_small_2,
    .m_small_1,
    .m_small_2 {
      display: none;
    }

    .footer {
      height: 100%;

      .bg {
        height: 600px !important;
      }

      .footer_inner {
        .footer_inner_box {
          .footer_inner_row {
            .footer_inner_side {
              padding-top: 40px;
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              text-align: center;
            }

            .footer_R {
              .footer_inner_side_cnt {
                .socials {
                  @include quickCenter("relative");
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .footer_holder {
    margin-top: 20px;

    .l_big,
    .r_big,
    .l_small_1,
    .l_small_2,
    .r_small_1,
    .r_small_2,
    .m_small_1,
    .m_small_2 {
      display: none;
    }

    .footer {
      height: 100%;

      .bg {
        height: 230px !important;
      }

      .footer_inner {
        padding-left: 60px;
        padding-right: 60px;

        .footer_inner_box {
          padding-bottom: 20px;
          .footer_inner_row {
            .footer_inner_side {
              padding-top: 30px;
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              text-align: center;
            }

            .footer_L {
              max-width: 30%;
              text-align: left;
              justify-content: flex-start;

              .footer_inner_side_cnt {
                .logo {
                  a {
                    .icon,
                    span {
                      font-size: 24px;
                    }
                  }
                }
              }
            }

            .footer_M {
              max-width: 30%;
              text-align: right;
              justify-content: flex-end;

              .footer_inner_side_cnt {
                ul {
                  li {
                    height: 30px;

                    a {
                      font-size: 16px;
                    }
                  }
                }
              }
            }

            .footer_R {
              max-width: 40%;
              text-align: right;
              justify-content: flex-end;

              .footer_inner_side_cnt {
                .contact {
                  li {
                    font-size: 15px;
                  }
                }

                .socials {
                  @include quickCenter("relative");

                  li {
                    div {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .footer_holder {
    margin-top: 120px;

    .l_big,
    .r_big,
    .l_small_1,
    .l_small_2,
    .r_small_1,
    .r_small_2,
    .m_small_1,
    .m_small_2 {
      display: none;
    }

    .footer {
      height: 100%;

      .bg {
        height: 530px !important;
      }

      .footer_inner {
        padding-bottom: 30px;

        .footer_inner_box {
          .footer_inner_row {
            .footer_inner_side {
              padding-top: 40px;
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              text-align: center;
            }

            .footer_L {
              .footer_inner_side_cnt {
                .logo {
                  a {
                    .icon,
                    span {
                      font-size: 30px;
                    }
                  }
                }
              }
            }

            .footer_R {
              .footer_inner_side_cnt {
                .socials {
                  @include quickCenter("relative");
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .footer_holder {
    margin-top: 10px;

    .l_big,
    .r_big,
    .l_small_1,
    .l_small_2,
    .r_small_1,
    .r_small_2,
    .m_small_1,
    .m_small_2 {
      display: none;
    }

    .footer {
      height: 100%;

      .bg {
        height: 230px !important;
      }

      .footer_inner {
        padding-left: 80px;
        padding-right: 80px;

        .footer_inner_box {
          padding-bottom: 20px;
          .footer_inner_row {
            .footer_inner_side {
              padding-top: 30px;
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              text-align: center;
            }

            .footer_L {
              max-width: 30%;
              text-align: left;
              justify-content: flex-start;

              .footer_inner_side_cnt {
                .logo {
                  a {
                    .icon,
                    span {
                      font-size: 31px;
                    }
                  }
                }
              }
            }

            .footer_M {
              max-width: 30%;
              text-align: right;
              justify-content: flex-end;

              .footer_inner_side_cnt {
                ul {
                  li {
                    height: 30px;

                    a {
                      font-size: 16px;
                    }
                  }
                }
              }
            }

            .footer_R {
              max-width: 40%;
              text-align: right;
              justify-content: flex-end;

              .footer_inner_side_cnt {
                .contact {
                  li {
                    font-size: 15px;
                  }
                }

                .socials {
                  @include quickCenter("relative");
                  margin-right: 0;

                  li {
                    div {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .footer_holder {
    margin-top: 40px;

    .l_big,
    .r_big,
    .l_small_1,
    .l_small_2,
    .r_small_1,
    .r_small_2,
    .m_small_1,
    .m_small_2 {
      display: none;
    }

    .footer {
      height: 100%;

      .bg {
        height: 330px !important;
      }

      .footer_inner {
        padding-left: 140px;
        padding-right: 140px;

        .footer_inner_box {
          padding-bottom: 20px;
          .footer_inner_row {
            .footer_inner_side {
              padding-top: 30px;
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              text-align: center;
            }

            .footer_L {
              max-width: 30%;
              text-align: left;
              justify-content: flex-start;

              .footer_inner_side_cnt {
                .logo {
                  a {
                    .icon,
                    span {
                      font-size: 40px;
                    }
                  }
                }
              }
            }

            .footer_M {
              max-width: 30%;
              text-align: right;
              justify-content: flex-end;

              .footer_inner_side_cnt {
                ul {
                  li {
                    height: 40px;

                    a {
                      font-size: 21px;
                    }
                  }
                }
              }
            }

            .footer_R {
              max-width: 40%;
              text-align: right;
              justify-content: flex-end;

              .footer_inner_side_cnt {
                .contact {
                  li {
                    font-size: 19px;
                  }
                }

                .socials {
                  @include quickCenter("relative");
                  margin-right: 0;

                  li {
                    div {
                      font-size: 21px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
