// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "Noto Sans Extra Bold";
  src: url("../../../fonts/NotoSans-ExtraBold.ttf"), Helvetica;
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url("../../../fonts/NotoSans-Bold.ttf"), Helvetica;
}
@font-face {
  font-family: "Noto Sans Medium";
  src: url("../../../fonts/NotoSans-Medium.ttf"), Helvetica;
}
@font-face {
  font-family: "Noto Sans Regular";
  src: url("../../../fonts/NotoSans-Regular.ttf"), Helvetica;
}

// Desktop
.index_top {
  height: 100%;
  position: relative;
  overflow: hidden;

  .index_top_main {
    height: 1200px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;

    .video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    .index_top_main_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #0e2f5084;
      @include displayElement(flex, center, center);
      overflow: hidden;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;

      .index_top_main_overlay_cnt {
        max-width: 1450px;
        @include quickCenter("relative");
        text-align: center;
        color: white;
        margin-bottom: 270px;

        .top_text {
          font-family: "Noto Sans Bold";
          font-size: clamp(20px, 30px, 30px);
        }

        h1 {
          font-family: "Noto Sans Extra Bold";
          font-size: $Heading;
        }

        p {
          max-width: 1150px;
          @include quickCenter("relative");
          font-family: "Noto Sans Medium";
          font-size: $Text;
          margin-top: 20px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .divider_holder {
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: -50px;
    left: 0;

    .bg {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
