$MajorHeading: clamp(5rem, 6vw, 6rem);
$SubHeading: clamp(1.5rem, calc(0.95rem + 2.75vw), 4.25rem);
$Text: clamp(1rem, calc(0.825rem + 0.8750000000000001vw), 1.875rem);
$Link: clamp(1rem, calc(0.125rem + 0.3750000000000001vw), 1.875rem);
