$MajorHeading: clamp(3.05rem, calc(3.84vw + 4.17rem), 5rem);
$Heading: clamp(2.44rem, calc(2.9vw + 3.5rem), 3.85rem);
$SubHeading: clamp(2.14rem, calc(2vw + 2.5rem), 2.85rem);
$Logo: clamp(1.55rem, calc(1vw + 2rem), 2.15rem);
$Text: clamp(1rem, calc(0.44vw + 1rem), 1.25rem);
