@font-face {
  font-family: "Be Vietnam Pro Regular";
  src: url("../../../fonts/BeVietnamPro/BeVietnamPro-Regular.ttf");
}
@font-face {
  font-family: "Be Vietnam Pro Medium";
  src: url("../../../fonts/BeVietnamPro/BeVietnamPro-Medium.ttf");
}
@font-face {
  font-family: "Be Vietnam Pro Semi Bold";
  src: url("../../../fonts/BeVietnamPro/BeVietnamPro-SemiBold.ttf");
}
@font-face {
  font-family: "Be Vietnam Pro Bold";
  src: url("../../../fonts/BeVietnamPro/BeVietnamPro-Bold.ttf");
}
@font-face {
  font-family: "Be Vietnam Pro Extra Bold";
  src: url("../../../fonts/BeVietnamPro/BeVietnamPro-ExtraBold.ttf");
}
@font-face {
  font-family: "Be Vietnam Pro Black";
  src: url("../../../fonts/BeVietnamPro/BeVietnamPro-Black.ttf");
}
.backToTop {
  position: fixed;
  bottom: -100%;
  right: 20px;
  z-index: 200;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
}
.backToTop button {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: #fcfcfc;
}
.backToTop button:hover {
  background-color: #e5305b;
}

@media all and (max-width: 991px) {
  .backToTop {
    width: 40px;
    height: 40px;
  }
  .backToTop button {
    font-size: 18px;
  }
}
@media all and (max-width: 768px) {
  .backToTop {
    width: 40px;
    height: 40px;
  }
  .backToTop button {
    font-size: 18px;
  }
}
@media all and (max-width: 419px) {
  .backToTop {
    width: 35px;
    height: 35px;
    right: 10px;
  }
  .backToTop button {
    font-size: 15px;
  }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .backToTop {
    width: 40px;
    height: 40px;
  }
  .backToTop button {
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .backToTop {
    width: 45px;
    height: 45px;
  }
  .backToTop button {
    font-size: 21px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .backToTop {
    width: 45px;
    height: 45px;
    right: 20px;
  }
  .backToTop button {
    font-size: 21px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .backToTop {
    width: 55px;
    height: 55px;
    right: 20px;
  }
  .backToTop button {
    font-size: 26px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .backToTop {
    width: 55px;
    height: 55px;
    right: 20px;
  }
  .backToTop button {
    font-size: 26px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .backToTop {
    width: 55px;
    height: 55px;
    right: 20px;
  }
  .backToTop button {
    font-size: 26px;
  }
}/*# sourceMappingURL=Misc.module.css.map */